Thumbs.db
*.log

# symfony default
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/web/bundles/
/web/var/

# PHP-CS-Fixer
/.php_cs
/.php-cs-fixer.cache

# composer
/composer.lock

# PhpStorm / IDEA
.idea


# Test env
/bin
/cache
/config
/kernel
/public
/templates
/tests/_output
/tests/_support/_generated
/var
/vendor
/.env
/.env.test
/.htaccess
/auth.json
/config.json
