parameters:
    level: 4
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    stubFiles:
        - stubs/Asset.stub
        - stubs/Pdf.stub
includes:
    - phpstan-baseline.neon
