parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
includes:
    - phpstan-baseline.neon
