name: PHP Style

on: [push]

jobs:
    php-cs-fixer:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              with:
                  ref: ${{ github.head_ref }}

            - name: PHP-CS-Fixer
              uses: docker://oskarstark/php-cs-fixer-ga:2.19.0
              with:
                args: --config=.php_cs.dist --allow-risky yes

            - uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: Apply php-cs-fixer changes
